* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  background-color: lightgray;
  width: 100%;
  height: 200px;
}

div {
  background-color: red;
  width: 100px;
  height: 100px;
}

div:hover {
  width: 100%;
  transition: ease;
  transition-timing-function: linear;
  transition-duration: 2s;
}
